[submodule "m3-fundamentos-javascript/dg1-variables-y-operadores"]
	path = m3-fundamentos-javascript/dg1-variables-y-operadores
	url = https://github.com/NataMellado/m3-desafio1
	branch = main
[submodule "m3-fundamentos-javascript/de1-cachipun"]
	path = m3-fundamentos-javascript/de1-cachipun
	url = https://github.com/NataMellado/m3-desafio2
	branch = main
[submodule "m3-fundamentos-javascript/dg2-calculadora"]
	path = m3-fundamentos-javascript/dg2-calculadora
	url = https://github.com/NataMellado/m3-desafio3
	branch = main
[submodule "m3-fundamentos-javascript/de2-javascript-en-practica"]
	path = m3-fundamentos-javascript/de2-javascript-en-practica
	url = https://github.com/NataMellado/de2-javascript-en-practica
	branch = main
[submodule "m3-fundamentos-javascript/de3-arrays-y-objetos"]
	path = m3-fundamentos-javascript/de3-arrays-y-objetos
	url = https://github.com/NataMellado/de3-arrays-objetos
	branch = main
[submodule "m3-fundamentos-javascript/prueba-final"]
	path = m3-fundamentos-javascript/prueba-final
	url = https://github.com/NataMellado/prueba-encuentra-tu-superHero
	branch = main
[submodule "m4-javascript-avanzado/de1-es6"]
	path = m4-javascript-avanzado/de1-es6
	url = https://github.com/NataMellado/de1-es6
	branch = main
[submodule "m4-javascript-avanzado/de2-sugerencia-vídeos"]
	path = m4-javascript-avanzado/de2-sugerencia-vídeos
	url = https://github.com/NataMellado/sugerencia-de-videos
	branch = main
[submodule "m4-javascript-avanzado/do1-lista-animales"]
	path = m4-javascript-avanzado/do1-lista-animales
	url = https://github.com/NataMellado/lista-animales
	branch = main
[submodule "m4-javascript-avanzado/do2-promesas"]
	path = m4-javascript-avanzado/do2-promesas
	url = https://github.com/NataMellado/do2-promesas
	branch = main
[submodule "m4-javascript-avanzado/de3-traer-post"]
	path = m4-javascript-avanzado/de3-traer-post
	url = https://github.com/NataMellado/traer-post
	branch = main
[submodule "m4-javascript-avanzado/prueba-final-m4"]
	path = m4-javascript-avanzado/prueba-final-m4
	url = https://github.com/NataMellado/prueba-final-m4
	branch = main
[submodule "m5-fundamentos-base-de-datos/de2-manipulacion-datos"]
	path = m5-fundamentos-base-de-datos/de2-manipulacion-datos
	url = https://github.com/NataMellado/de2-manipulacion-datos
	branch = main
[submodule "m5-fundamentos-base-de-datos/de3-definicion-de-tablas"]
	path = m5-fundamentos-base-de-datos/de3-definicion-de-tablas
	url = https://github.com/NataMellado/de3-definicion-de-tablas
	branch = main
