[submodule "m3/dg1-variables-y-operadores-aritmeticos"]
	path = m3/dg1-variables-y-operadores-aritmeticos
	url = https://github.com/NataMellado/m3-desafio1/tree/main
	branch = main
[submodule "m3/de1-cahipun-contra-la-maquina"]
	path = m3/de1-cahipun-contra-la-maquina
	url = https://github.com/NataMellado/m3-desafio2
	branch = main
[submodule "m3/dg2-calculadora"]
	path = m3/dg2-calculadora
	url = https://github.com/NataMellado/m3-desafio3
	branch = main
[submodule "m3/de2-javascript-en-practica"]
	path = m3/de2-javascript-en-practica
	url = https://github.com/NataMellado/de2-javascript-en-practica
	branch = main
[submodule "m3/de3-arrays-objetos"]
	path = m3/de3-arrays-objetos
	url = https://github.com/NataMellado/de3-arrays-objetos
	branch = main
